[2013-02-26 07:44] fukutomy opened #1 "in order to handle 'error' events"
Hi. I have a concern regarding the title.

For example, when I run my app with fluent-logger without fluentd,
the process will be stopped because of "unhandled error event" like following.

[code]

It seems that sender.js has sent error event, but there are no logic to handle it.
I think it will be better if fluent-logger could provide interface for us to define how to deal this event as following

[2013-03-05 12:34] #1 closed, assigned to yssk22

[2013-03-18 09:13] kuno opened #3 "Why not works?"
This is works

[code]

This is not

[code]

It return a network error

[code]

[2013-03-20 03:32] takeshy opened #4 "Error: This socket is closedが発生"
[code]

NaNになるデータを書き込むとfluentd側に
forward error: 'NaN' is an invalid number
が出力され、fluent-logger側のon('error')においてsocketを
closeするので、再度ログに書き込もうとすると
Error: This socket is closed
の例外が出力されます。

NaNをログに書き込むと駄目というのは辛いのでNaNの
書き込みも許可してほしいです。

またcloseしたsocketを再度利用できない仕組みが必要だと思います

[2013-03-23 09:17] #3 closed, assigned to yssk22

[2013-03-23 09:30] yssk22 opened #5 "npm test failed in node.js 0.6"
https://travis-ci.org/fluent/fluent-logger-node/builds/5737213

This is because server.close() does not take an callback in 0.6.

[2013-03-23 09:37] #4 closed, assigned to yssk22

[2013-04-04 04:47] kuno opened #6 "EventEmitter memory leak?"
(node) warning: possible EventEmitter memory leak detected. 11 listeners added. Use emitter.setMaxListeners() to increase limit.
Trace
    at EventEmitter.addListener (events.js:175:15)
    at FluentSender.forEach.FluentSender.(anonymous function) [as on](/Users/kuno/Hub/devo-ps/api.devo.ps/node_modules/fluent-logger/lib/sender.js:34:30)
    at FluentSender.log (/Users/kuno/Hub/devo-ps/api.devo.ps

[2013-05-08 13:43] xjmnz opened #8 "Install failed"
I installed Python 2.7.3 and VS C++ 2010 Express on Win 7. Then I install the fluent-logger by "npm install fluent-logger".But the cmd showed:

npm http GET https://registry.npmjs.org/fluent-logger
npm http 304 https://registry.npmjs.org/fluent-logger
npm http GET https://registry.npmjs.org/msgpack
npm http 304 https://registry.npmjs.org/msgpack

npm ERR! msgpack@0.1.8 install: `node-gyp rebuild`

[2013-05-09 09:45] #8 closed, assigned to yssk22

[2013-06-02 08:51] redchair123 opened #9 "add license to package.json"

[2013-06-02 10:22] #5 closed, assigned to yssk22

[2013-06-02 10:23] #6 closed, assigned to nobody

[2013-09-04 20:59] nfo opened #10 "`TypeError: Cannot call method 'write' of null` if fluentd is unavailable"
The `emit()` function of `sender.js` tries to connect to fluentd, emits an "error" if it failed, but it also calls `_flushSendQueue()` even if the connection failed.

After sending data and receiving the 'error' event multiple times , `_flushSendQueue()` raises an error, because `self._socket` is null.

[code]

I made a dirty patch in `_flushSendQueue()` by checking if the socket is null, and in t

[2013-11-24 01:59] #9 closed, assigned to nobody

[2014-01-12 12:59] #10 closed, assigned to yssk22

[2014-01-14 02:00] yssk22 opened #13 "remove 0.6 build, introduce 0.10 build"
Recent build error is from 0.6 engine (https://travis-ci.org/fluent/fluent-logger-node/jobs/16815111) during `npm install` and CI with 0.8 is fine (https://travis-ci.org/fluent/fluent-logger-node/jobs/16815112). It is a good chance to remove 0.6 and add 0.10 CI.

[2014-08-04 12:13] shacharz opened #14 "npm install fluent-logger doesn't work"
I'm on windows 8 64 bit
Python 3+ isn't supported so I switched to python 2.7.8.
This error came out:

SyntaxError: unqualified exec is not allowed in function 'namedtuple' it contains a nested function with free variables
gyp ERR! configure error
gyp ERR! stack Error: `gyp` failed with exit code: 1
gyp ERR! stack     at ChildProcess.onCpExit (D:\software\node\node_modules\npm\node_modules\node-gy

[2014-08-11 19:55] kiyoto opened #15 "npm install msgpack doesn't work on node v0.10.28"
I believe this is caused by `npm install msgpack` failing.

[2014-11-28 12:31] silentroach opened #19 "Ability to connect fluent via unix socket"
Your library supports only connection via host:port, but I need to connect it via unix socket

[2014-12-05 17:11] #19 closed, assigned to nobody

[2015-01-23 09:02] yienge opened #21 "README is misleading"

[2015-01-23 10:23] #21 closed

[2015-08-27 07:11] okkez commented on #15
Succeeded `npm install msgpack` on Node.js v0.10.38.

Could you close this issue?

[2015-08-27 08:39] cosmo0920 commented on #14
I try to reproduce this issue.
But I couldn't reproduce this issue.
It seems that this issue already fixed.

## Environment

* Windows 7 64bit
* nodejs v0.12.7
* npm 2.11.3
* Visual Studio Express 2013 for Desktop
* node-gyp 2.0.2

## Result

CMD>if not defined npm_config_node_gyp (node "C:\Program Files (x86)\nodejs\node_modules\npm\bin
\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js"

[2015-08-27 08:41] cosmo0920 commented on #14
To repository owner: Could you close this issue?

[2015-08-27 08:46] cosmo0920 commented on #15
I also succeeded installation with Windows 7 64 bit and OS X Mavericks(10.9.5).

[2015-08-27 08:54] #15 closed

[2015-08-27 12:11] okkez commented on #13
This issue is now outdated.
@repeatedly Could you close this issue?

[2015-09-09 04:07] aheckmann opened #28 "fails to install on nodejs 4.0.0"
msgpack seems to be unmaintained.

[2015-09-11 08:12] #28 closed

[2015-09-18 16:19] tantra35 opened #30 "add support for unix domain sockets"
this is very useful for local fluentd, and remote aggregators

[2015-09-18 16:23] tantra35 opened #31 "when use as log4j appender, when fluentd is dead application also died"
Minimal example to reproduce

[code]

when we stop fluentd we got follow error, and application stop

[code]

[2015-09-18 16:25] tantra35 commented on #30
this is very usefull for local fluentd, and remote agregators

[2015-09-21 11:18] Santinell opened #32 "Can't install via npm on node.js 4"
Please publish changes for support of node.js 4 to npm

[2015-09-22 11:40] herby commented on #32
It seems there was a change to fix that; pls could you make new release in npm?

[2015-09-23 01:53] edsiper commented on #32
I am contacting the NPM package owner to make the update.

[2015-09-23 01:54] edsiper commented on #14
sorry for the delay. Closing this.

[2015-09-23 01:54] #14 closed

[2015-09-23 01:55] cosmo0920 commented on #14
Thanks! :+1:

[2015-09-23 01:55] edsiper commented on #13
sorry for the delay, closing this issue.

[2015-09-23 01:55] #13 closed

[2015-09-23 01:58] edsiper commented on #31
Looks like the problem is with Unix domain sockets, if you try the TCP connection does it works ?

[2015-09-23 13:47] markokostovski opened #34 "Cannot install fluent-logger-node on node 0.10"
I cannot deploy my application anymore. Even tho now it works on 4.0

msgpack@1.0.0: wanted: {"node":">=4.0.0"} (current: {"node":"0.10.38","npm":"1.4.28"})
...
npm ERR! Failed at the msgpack@1.0.0 install script.
npm ERR! This is most likely a problem with the msgpack package,

Can this be resolved?

[2015-09-23 14:24] edsiper commented on #34
did you installed fluent-logger from npm or through this repo ?

[2015-09-23 14:45] markokostovski commented on #34
npm

[2015-09-23 15:14] tantra35 commented on #31
No this is a complex problem, due follow code (sender.js:108):

[code]

So as expected when we use tcp connection we got the same error:

[code]

[2015-09-23 15:18] tantra35 commented on #30
For myself i use follow patch:

[code]

[2015-09-24 03:47] airtoxin opened #35 "MsgPack pin versions"
currently release of msgpack1.0.0 has install errors on many platforms.
fluent-logger-node dependent msgpack but dependent package versions are currently not pined. so, npm try to install newest msgpack when installing this package and fail.
it should be pin stable version of dependent packages
[code]

[2015-09-25 01:15] xiaozhouzhou commented on #35
"msgpack": "0.2.6" works fine at node v0.10.24

[2015-09-25 05:50] noraesae commented on #35
+1 for this. `0.2.7` also works find for me.

[2015-09-25 14:23] edsiper commented on #35
@airtoxin @xiaozhouzhou @noraesae :

would you please confirm  each one of you that 0.2.7 works fine ?

[2015-09-25 15:14] noraesae commented on #35
Yes it did work well. But now I've also tested with the master branch and it also worked fine. So I guess there would be no problem in the next release.

[2015-09-25 16:08] edsiper commented on #35
After a few tests I have the following scenario:

| NodeJS version  | msgpack version  |  status                  |
|----------------------|-----------------------|----------------------|
|  v0.10.40              | 0.2.7                       |  OK                       |
|  v0.12.7                | 0.2.7                       | OK                        |
|  v4.0.0                  | 0.2.7

[2015-09-25 17:02] edsiper commented on #35
I've released fluent-logger 0.3.0 on the npm site. This version is only compatible with Node < 4 and iojs < 3.

Please test and send me some feedback.

[2015-09-26 00:58] airtoxin commented on #35
it works fine

[2015-09-28 08:00] markokostovski commented on #34
It's working with version 0.3.0 of fluent-logger

[2015-09-28 08:00] #34 closed

[2015-09-28 08:01] markokostovski commented on #35
Working with v0.10.38, thx :+1:  Thx

[2015-09-28 08:13] repeatedly commented on #35
Thanks for testing! Close this issue.

[2015-09-28 08:13] #35 closed

[2015-10-23 03:00] okkez opened #38 "Support Node.js v4 plan"
I'm investigating that we should support which versions of Node.js.

This library depends on [msgpack-node](https://github.com/msgpack/msgpack-node), so we can support same versions that is supported by msgpack-node.

msgpack-node supports Node.js v0.12 or later. I've tested to build msgpack-node(1.0.2 and HEAD) following versions:

Version | 1.0.2 | HEAD
-----------|--------|----------
v0.10.40 |

[2015-10-23 03:02] okkez commented on #38
Additional information.

msgpack5 is too slow, so I want to revert msgpack5 related changes.

See http://yukidarake.hateblo.jp/entry/2015/08/10/194319 (Written in Japanese)

[2015-10-23 15:02] edsiper commented on #38
thanks for raising this topic.

How complex is to port to the new library ?

[2015-10-23 15:45] okkez commented on #38
It is very easy to support msgpack-1.0.2.
Just revert msgpack5 related changes in 6f2a3f6 and adjust package.json.

I have patches in my laptop and I will work for this in next week.

[2015-10-23 15:48] edsiper commented on #38
that would be great. I'd definitely support this change.

[2015-10-26 03:16] repeatedly commented on #38
In fluent-logger-node, we use only encoding.
Could you check only `pack`/`encode` performance?
If msgpack5 is too slow, vote for changing to msgpack.

[2015-10-26 04:26] okkez commented on #38
Check performance.
https://gist.github.com/okkez/2b77b32ad3a966446347

msgpack is faster than msgpack5.

[code]

[2015-10-26 06:55] repeatedly commented on #38
I see. One concern is msgpack5 has extension type support.
Does msgpack have this feature?

[2015-10-27 01:54] okkez commented on #38
FYI: [kawanet/msgpack-lite](https://github.com/kawanet/msgpack-lite "kawanet/msgpack-lite")

msgpack-lite is faster than msgpack.
msgpack-lite supports extension type.

[2015-10-27 02:01] okkez commented on #38
Update benchmark script and result.
https://gist.github.com/okkez/2b77b32ad3a966446347

[code]

[2015-10-27 03:05] okkez commented on #38
Maybe msgpack does not support extension type feature.
I've checked JavaScript APIs and README.md.

[2015-10-27 07:13] okkez commented on #38
I've created branch https://github.com/okkez/fluent-logger-node/tree/use-msgpack-lite
It is very easy to change back end library to process msgpack.
Pass all tests with msgpack-lite for now.

How about msgpack-lite for fluent-logger-node?
If we use msgpack-lite, we can support all node versions in master branch for now.

[2015-10-27 07:25] repeatedly commented on #38
:+1:  > msgpack-lite

[2015-10-30 06:58] okkez commented on #32
I've released new version of fluent-logger 0.4.1.

[2015-10-30 06:58] #32 closed

[2015-10-30 06:59] okkez commented on #38
I've released new version 0.4.1 using msgpack-lite.

[2015-10-30 06:59] #38 closed

[2015-11-04 06:34] okkez commented on #31
Application does not crash when we use plain FluentSender.
We should fix log4js.js in this library.

[code]

[2015-11-04 07:50] okkez commented on #31
@tantra35 @ashutalewar
test script does not crash on my environment. Please try #42

[2015-11-09 01:19] #31 closed

[2015-12-03 09:48] didodido85 opened #43 "EventEmitter memory leak"
Following this:

https://github.com/nodejs/node-v0.x-archive/issues/5108

i can't set maxListener to FluentSender.

[2015-12-04 02:37] okkez commented on #43
You can do that by following code.

[code]

Do you need public API for this?

[2015-12-04 08:42] didodido85 commented on #43
Trying to do that.

Receive:

logger._eventEmitter.setMaxListeners(config.fluentMaxListner);
                                  ^
TypeError: Cannot call method 'setMaxListeners' of undefined

[2015-12-05 00:01] okkez commented on #43
I tested following versions of node:

* v0.10.41
* v0.12.9
* v4.2.1
* v5.1.1

Could you tell me your environment?

[2015-12-14 04:09] #43 closed

[2015-12-14 04:43] okkez commented on #43
Released v0.5.0

[2015-12-14 09:09] didodido85 commented on #43
Thx

[2015-12-19 15:15] kawanet commented on #38
:smiley:

[2016-01-07 09:13] #30 closed

[2016-01-27 09:20] gregoryb opened #44 "Logger can't be configured using json file."
The logger seems not be configurable using a json file.
[code]

The module does not expose an "appender" function like mentionned in the doc. This function is inside "support" and options are not binded correctly.

From log4js:

[code]

[2016-01-29 04:14] okkez commented on #44
Reproduced.
I will fix this issue in next week.

[code]

with config file in https://github.com/fluent/fluent-logger-node/issues/44#issue-129081571

Got error:

[code]

[2016-02-01 08:45] #44 closed

[2016-02-03 02:05] okkez commented on #44
Released v1.1.0

[2016-02-08 14:28] gregoryb opened #45 "Layout is ignored"
When i configure an appender using a custom Layout, it's not used to format the message.
You should add a dependency to log4js in order to access to the layout function.

If you can't fix it quickly, i will try to fix it as a PR.

[2016-02-08 23:55] okkez commented on #45
Thank you for reporting issue.
Patches are welcome!

[2016-02-15 05:26] okkez commented on #45
@gregoryb Please show me your configuration for example. What do you want to do?
fluent-logger sends structured data to fluentd.
I think fluent-logger appender can ignore custom layout.

[2016-02-29 13:40] q42jaap opened #46 "Unclear how to configure fluentd deamon"
Should I use http://docs.fluentd.org/articles/in_tcp or http://docs.fluentd.org/articles/in_forward?
This should be clear from README.md, like https://github.com/fluent/fluent-logger-python#configuration

[2016-03-02 06:47] #46 closed

[2016-03-02 06:48] okkez commented on #46
Thank you for reporting.

You can use `in_forward`.
I've updated README.md in master HEAD.

[2016-05-07 00:49] zoell opened #48 "self._socket.write TypeError: Cannot read property 'write' of null"
I am trying to build a winston transport with fluent-logger but for some reasons I receive this error:

[code]

Currently I am trying to use it in a Sails.js application.
node: 4.4.0

Here is my module code where I call fluent-logger:
[code]

Any idea what is causing the issue? What can I try?

[2016-05-09 02:19] okkez commented on #48
What is `this` in your configuration?
I could not reproduce your situation.

I tested following code.
As you know this is plain configuration without winston.

[code]

fluent.conf:

[code]

[2016-05-31 10:20] orangemi opened #49 "how should we recorver if dequeued items are not sent."
Here is your comment at https://github.com/fluent/fluent-logger-node/blob/master/lib/sender.js#L153
I wonder whether a solution here? or any idea?

[2016-06-01 01:24] okkez commented on #49
We can implement `require_ack_response option`.

See https://github.com/fluent/fluentd/wiki/Forward-Protocol-Specification-v0#response

[2016-06-07 06:11] naomichi-y opened #50 "Queue is not flushed at time of re-connection?"
If Fluent is started from a stopped state, Queue is not flushed.

[code]

[code]

I want to flush queue at time of re-connection.

e.g. ...
https://github.com/naomichi-y/fluent-logger-node/commit/730c28261aa2229ec71608dce44ea0a306a88b24

Do you have any idea?

[2016-06-07 06:24] okkez commented on #50
Thank you for reporting.
I will check the issue.

[2016-07-05 09:09] anhldbk opened #51 "Method for disposing loggers"
Is there any API for closing loggers?

[2016-07-06 00:36] okkez commented on #51
There are no public API.

[2016-07-15 03:17] okkez commented on #50
Sorry for late response.
How about following? @naomichi-y

[code]

[2016-07-15 03:22] okkez commented on #45
no response

[2016-07-15 03:22] #45 closed

[2016-07-15 03:23] okkez commented on #48
no response

[2016-07-15 03:23] #48 closed

[2016-07-20 04:08] okkez commented on #49
Hmm, I have no idea.
I think we can detect `socket.write` is completed, cannot detect incomplete `socket.write`.

[2016-08-01 01:16] twang2218 commented on #51
How about call `logger.end()` after finished using logger?

[2016-08-01 01:48] okkez commented on #51
Ah! Good point.

`logger.end()` would be good for closing logger.

[2016-11-10 14:50] rqc opened #55 "How to add timestamp to message data in winston + fluent transport"
Is there is a way to automatically include a timestamp in the `fluentTransport` as part of the message? I can see in the code that the packet to `fluentd` is sent with a timestamp created in the `FluentSender` but there is no way to include that or an application-generated timestamp to the data of the message.

I guess the issue is that the `fluentTransport` does not support  _custom formatting_ o

[2016-11-11 01:30] okkez commented on #55
Some winston transports don't support custom formatter and other options.
For example, console transports and file transports support them, but http transports and memory transports don't.

Could you describe what do you want to do? I cannot imagine your situation.
I think timestamp which is added by fluent-logger is enough.

[2016-11-14 16:53] rqc commented on #55
Thanks for your response @okkez. My scenario is the following (I am a newbie with `fluentd` so please let me know if I have other options to do this):
* Setup `fluent-logger` to output directly to `fluentd` including a timestamp as part of the `body` of the collected message itself.
* This message is stored in `elasticsearch` and it should have the `timestamp` included as part of the message.

Ins

[2016-11-15 00:13] okkez commented on #55
Thank you for describing your case.

You can use filter_record_transformer in such case.
http://docs.fluentd.org/articles/filter_record_transformer

[code]

I don't confirm this configuration.
If you want inject timestamp into the message, see following example:

[code]

[2017-01-24 05:39] okkez commented on #50
Ping @naomichi-y ?

[2017-02-19 12:50] jurgenhaas opened #57 "MessagePack::MalformedFormatError"
When I'm emitting the following object, then I get a MessagePack::MalformedFormatError in FluentD:

[code]

The full error is this:

[code]

When I convert all the values above to strings, then the error disappears but I'm not sure that's what is the correct way to resolve this. Any advise?

[2017-02-20 02:24] okkez commented on #57
Could you show me your full configuration for Fluentd and your JavaScript code to emit log?
I could not reproduce your situation.

[2017-02-20 08:59] jurgenhaas commented on #57
Sure, what I'm doing is to enhance an existing monitoring tool and the file I'm editing is this: https://gitlab.paragon-es.de/tools/uptime/blob/master/models/ping.js

In the header I've added this:

[code]

Then, the class builds a Ping object which will be written to a MongoDB in line 72.

In my first approach I have added the following code right before `ping.save()`:

[code]

That throws the er

[2017-02-21 00:23] okkez commented on #57
I got error `error_class=MessagePack::UnknownExtTypeError error="unexpected extension type` with following code:

[code]

Maybe `ping.timestamp` is not plain JavaScript object so Fluentd cannot decode from msgpack.
You can send plain JavaScript object with fields what you want (your code is almost good).

Or `logger.emit('ping', JSON.parse(JSON.stringify(ping)));`

[2017-02-21 09:21] jurgenhaas commented on #57
Thanks, that should do.

[2017-02-21 09:21] #57 closed

[2017-02-22 05:31] NawarA opened #58 "Switch to using node.js core library `Agent` for socket pooling"
Reading through the source code, it looks like a new socket is made on every invocation. Both memory and CPU time performance can be improved by switching to node's core Agent class, which by default includes socket pooling, which will reuse existing sockets, instead making a new socket every time.

Can you confirm socket pooling isnt currently being used?

[2017-02-22 06:21] okkez commented on #58
Could you take the benchmark?
Is node's core Agent class [http.Agent](https://nodejs.org/api/http.html)?
This module uses [net.Socket](https://nodejs.org/api/net.html#net_class_net_socket) because Fluentd does not speak HTTP(S).

[2017-03-02 02:47] linxuanwei opened #59 "fluentd update to v0.14 EventTime"
can you support EvenTime in fluent-logger-node

[2017-03-02 02:58] okkez commented on #59
Sure.

[2017-03-02 03:05] linxuanwei commented on #59
@okkez

Great！ You are so handsome！
[https://github.com/fluent/fluentd/wiki/Forward-Protocol-Specification-v1#entry](url)
[http://www.rubydoc.info/gems/fluentd/Fluent/EventTime](url)

[https://github.com/fangli/fluent-plugin-influxdb/issues/71](url)

[https://github.com/fangli/fluent-plugin-influxdb/pull/72](url)

[2017-03-02 10:25] linxuanwei commented on #59
![qq20170302-180957 2x](https://cloud.githubusercontent.com/assets/10094722/23503172/75704d88-ff75-11e6-98ee-61e442c1808b.jpg)
how to realise this using msgpack?
@okkez

[2017-03-02 13:50] okkez commented on #59
I will investigate this issue and support EventTime in this month.
Please wait! :guitar:

[2017-03-07 07:14] linxuanwei opened #60 "How to know if the socket is connected?"
I would like to do some processing when the socket connection was
connected, and  do some processing when the connection was disconnected.

@okkez

[2017-03-08 00:40] okkez commented on #60
I will investigate this in next week or later.

[2017-03-14 00:49] #55 closed

[2017-03-14 00:49] #51 closed

[2017-03-15 03:27] okkez commented on #60
Could you describe your scenario?

[2017-03-15 05:05] linxuanwei commented on #60
@okkez  eg.

I would send something to slack when fluent-logger-node was disconnected with fluentd

and

I would do something when fluent-logger-node reconnected with fluentd.

[2017-03-15 05:33] okkez commented on #60
You can try following code:

[code]

I will implement connect event as following:

[code]

[2017-03-15 05:46] linxuanwei commented on #60
Can only be so

[2017-03-15 05:46] #60 closed

[2017-03-15 06:13] linxuanwei commented on #59
@okkez  Great！ See it.

Look forward to your submission.

[2017-03-16 02:10] #59 closed

[2017-03-21 00:42] okkez commented on #50
No response.

[2017-03-21 00:42] #50 closed

[2017-05-04 09:08] eino-makitalo opened #63 "Be not so verbose with console.log /error"
When socket connection fails and reconnection is tried.. It's using console.log / error.  Please add option to make it silent

[2017-05-08 02:37] okkez commented on #63
What is the problem?

[2017-05-08 08:40] eino-makitalo commented on #63
If I have not started fluentd daemon for some reason (like in automation state) It gives a lot of console.log stuff.  In those cases, it's not any value adding to print 100 times to console that can't connect to fluentd.  This is more feature not to add console.logs to code. If I try to redirect console.log to null-function, it also interferes real work.

[2017-05-30 00:34] okkez commented on #58
No response.

[2017-06-07 17:45] NawarA commented on #58
Sorry, didnt see your question until I got the most recent GitHub notification. And yes, that's right.

When you say
`This module uses net.Socket because Fluentd does not speak HTTP(S).`

Do you mean it speaks UDP, not TCP?

[2017-06-08 00:22] okkez commented on #58
This module uses TCP to talk with Fluentd.
All fluent-logger follow [Forward protocol specification](https://github.com/fluent/fluentd/wiki/Forward-Protocol-Specification-v0).

[2017-06-11 17:23] NawarA commented on #58
Exactly. Instead of creating a new socket every time, you can use's Node's built in HTTP (TCP) module, which will manage socket reuse / pooling for you. This will make this module more efficient than creating a new socket every log -- which is not a good idea of high throughput servers.

@JoshFerge does this make sense?

[2017-06-13 03:17] okkez commented on #58
HTTP is constructed on TCP and also Fluentd's forward protocol is original protocol constructed on TCP.
Fluentd's forward protocol is not HTTP.
So we cannot use Node's build-in HTTP module for Fluentd's forward protocol.

[2017-07-18 14:52] slang800 opened #67 "'ack in response and chunk id in sent data are different' if logs are submitted too quickly"
Using this test code:

[code]

I get these errors:

[code]

[2017-07-18 15:26] slang800 opened #68 "'ack response timeout' is thrown no matter what happens"
If `requireAckResponse` is used, then the `'ack response timeout'` will be thrown after `ackResponseTimeout` has elapsed, even if an ack is sent... There doesn't seem to be anything to clear the [`setTimeout`](https://github.com/fluent/fluent-logger-node/blob/376d969ff3100db2e83482d8c7e481b5e146e1a6/lib/sender.js#L210) used to throw that error.

[2017-07-19 02:17] #68 closed

[2017-07-19 02:44] okkez opened #70 "Support log4js 2.2.0"
fluent-logger-node works with log4js 1.1.1, but doesn't work with log4js 2.2.0.
Because log4js 2.2.0 add/remove APIs.

[2017-07-21 09:31] okkez commented on #67
@slang800 could you try #72 ?

[2017-07-23 00:40] slang800 commented on #49
`requireAckResponse` should probably be the default. I would expect some kind of error to be thrown if a log message isn't forwarded properly, so I don't end up losing data and I can implement some kind of retry logic (if needed).

Not enabling `requireAckResponse` should just be a way to increase performance at the risk of losing data.

[2017-07-23 23:54] slang800 commented on #67
The root of the problem is that you're checking for responses on a fixed interval of 100ms: https://github.com/fluent/fluent-logger-node/blob/ea1b83236ca294b4a7473de72389a8cb2c05cb74/lib/sender.js#L210. So if more than one response is received in a 100ms window, it's ignored. I'm working on a partial rewrite to fix the way this is handled.

[2017-07-24 00:40] okkez commented on #49
`requireAckResponse` should not be enabled by defaul. Because other fluent-logger-* and Fluentd built-in out_forward don't enable `require_ack_response` by default.

[2017-07-26 01:24] #67 closed

[2017-07-27 01:06] okkez opened #74 "Ack response handling"
Move from #73 (about ack response)

What should we do about ack response handling?

* https://github.com/fluent/fluent-logger-node/pull/73#issuecomment-318191990
* https://github.com/fluent/fluent-logger-node/pull/73#issuecomment-318199250

I've investigated:

* Fluentd v0.12 out_forward blocks
* Fluentd v0.14 out_forward non-blocking (create another thread to wait ack response)
* Fluency (yet ano

[2017-07-27 01:12] okkez opened #75 "Support PackedForward mode to improve performance"
Move from #73

* https://github.com/fluent/fluent-logger-node/pull/73#issuecomment-318183149

@slang800 said:

[2017-07-27 06:19] okkez commented on #74
I think we should support non-blocking write to socket but we should consider some points.

* Support Packed Forward Mode and/or Compressed Packed Forward Mode
* Configurable buffer size to store packed data
* Handle buffer overflow
* Retry sending data in some cases
* Rollback dequeued data when failed to write data to socket

[2017-09-26 08:28] okkez commented on #58
No response.

[2017-09-26 08:28] #58 closed

[2017-09-27 23:30] chrisrecalis opened #78 "Too many open sockets?"
We just recently upgraded `2.4.2` as of yesterday and immediately noticed severe network issues in our cluster. Just to give a little background on our deployment. We are running a kubernetes cluster where fluentd is deployed as deamon-set. This allows any app in the cluster to connect and push data locally without having to jump the network.

I just quickly went through #77 which was just merged

[2017-09-28 03:04] okkez commented on #78
Sorry for my mistake.
I've confirmed fd leak with v2.4.2. I've reverted #77 and release new version v2.4.3.
I've tested v2.4.3 and I've confirmed no fd leak with it.

Thank you for reporting issue quickly!

[2017-10-02 04:38] okkez commented on #78
@chrisrecalis Could you close this issue when your problem is fixed by v2.4.3.

[2017-10-02 10:13] hassanf1 opened #79 "program not gracefully terminating after logger.emit()"
Hi, I am using fluent-logger for the first time.
after logger.emit() the control doesnt return to my nodeJS program.

Is it something that I am missing?

My code ******:
[code]

My fluent.conf file*******:

[code]
*********
I can see my logs going to mongoDB using logger.emit(). But my test program doesn't terminate when I use logger.emit() statement.

Thanks
Farrukh

[2017-10-03 03:29] okkez commented on #79
`logger.emit()` creates new socket and the socket keeps running until call `logger.end()`.
You can gracefully stop your program calling `logger.end()` after `logger.emit()`.

[2017-10-03 05:29] hassanf1 commented on #79
I see.
When I applied end() immediately after emit() my logs were not written. Probably the socket get closed before log was written. However putting a delay (like setTimeout) before end() worked...

`logger.emit('info',
    {
        type: 'info',
        message: {name: 'testprogram', description: 'hello world 223', timestamp: (new Date()).toString()},
        notif: false,
        caller: 'myli

[2017-10-03 05:52] okkez commented on #79
Maybe, you can call `end()` while your application's shutdown sequence.
If you don't call `end()` on shutdown, your application will not terminate gracefully.

[2017-10-03 05:58] hassanf1 commented on #79
Sure. Thanks for your feedback.

[2017-10-03 06:00] #79 closed

[2017-10-10 06:02] #78 closed

[2017-10-10 07:40] #75 closed

[2017-10-12 07:59] okkez commented on #70
log4js 2.x does not have API to register custom appender.
It detects custom appender according to `log4js.configure` parameter.

[2017-10-23 09:03] #70 closed

[2017-11-09 15:00] vgoloviznin opened #83 "Unhandled exception if fluentd instance dies in the middle of queue flushing"
If fluentd endpoint dies in the middle of message queue flushing, unhandled exception start rising while the library tries to reconnect to fluentd, here's the error:

[code]

[2017-11-10 05:48] okkez commented on #83
Could you try #84 ?

Is this easy to reproduce?
I could not reproduce this issue in my local environment.

[2017-11-10 07:34] vgoloviznin commented on #83
@okkez yeah, it's not reproducable locally for me as well, happens from time to time on production...

I did a quick check of the patch, but I don't think it will work properly, when you go through `_pendingPackets` and try to write everything inside, upon error you will add the packet again into array, so there will be multiple packets. I also don't see where the array is flushed

[2017-11-10 07:53] okkez commented on #83
Thank you for checking patch.
I will take time for this issue in next week.

Could you tell me following points?:
* how many logs per second?
* log size
* and more about your production

[2017-11-13 01:16] okkez commented on #83
@vgoloviznin

Flush `_pendingPackets` [here](https://github.com/fluent/fluent-logger-node/pull/84/files#diff-c890425a040068c3e899d1f10233671bR328)

[2017-11-13 09:05] vgoloviznin commented on #83
@okkez working on answering the questions of yours!

As for flushing, I don't see that items are removed after\during the foreach

[2017-11-13 13:42] shuttie commented on #83
~100 per second

Quite heavy, ~1-2kb each

We observed this issue at least 3 times within the following scenario:

0. Fluentd has ES as a back-end store.
1. ES due to capacity-throughtput reasons dies with OOM.
2. Fluentd starts buffering log events in RAM, waiting for ES to come back.
3. Fluentd RAM buffer is exhausted, so it starts emitting a ton of exceptions in log (https://gist.github.com/shu

[2017-11-14 01:48] cdaringe opened #86 "logger.end unsupported in winston transport"
# problem statements

- `logger.end` doesn't work when using winston
- `logger.end` isn't documented

# discussion

`logger.end` perhaps _shouldn't_ be a thing™ (i.e. don't mangle winston's API), however, there's gotta be a way to teardown a process and not have the logger unintentionally keep it alive.  any ideas on that front?

i did this as a hack:
[code]

[2017-11-14 05:13] okkez commented on #86
How about this?

[code]

[2017-11-14 06:18] okkez commented on #83
Thank you for describing scenario! @shuttie

[2017-11-15 00:53] okkez commented on #83
Solution (improve Fluentd robustness):

* fluent-logger-node
  * (optional) enable `requireAckResponse`
* Fluentd
  * use file buffer (not memory)
  * increase buffer size limit if needed, see https://docs.fluentd.org/v0.14/articles/buffer-section#buffering-parameters
  * use secondary output to store logs when ES is down

[2017-11-18 03:58] #86 closed

[2017-11-18 03:58] cdaringe commented on #86
yes, that is good :)

[2018-01-08 17:26] memosstilvi opened #89 "AWS Lambda timing out due to open socket."
We are currently using your library in some of our AWS Lambda functions.

The way we use it is as a Stream in our bunyan logger.
Even though everything seems to be working fine, and the logs reach our backend log aggregator servers, the Lambdas keep timing ou 100% of the time.

setting
[code]
seems to help to get rid of the timeouts, however the logs stop being sent to the backend.

We haven't nai

[2018-01-09 02:00] okkez commented on #89
You can stop logger like following:

[code]

[2018-01-09 11:16] memosstilvi commented on #89
@okkez Thank you for your answer.
Are we sure that all the messages will be sent if we close the sender like that?

[2018-01-10 01:14] okkez commented on #89
Yes. We can wait ack response from Fluentd with `requireAckResponse: true` option.

[code]

[2018-01-15 14:29] mcuelenaere commented on #83
I'm also seeing this stacktrace, when the FluentD server is unavailable. Shouldn't the code at https://github.com/fluent/fluent-logger-node/blob/master/lib/sender.js#L360 check if `this._socket` is set before trying to dereference it?

Console output:
[code]

[2018-01-16 06:04] fujimotos commented on #83
I can confirm the issue reported by @mcuelenaere in HEAD. Stopping the
fluentd server under a heavy load will result in an uncaught exception
in the client.

For now, fluentd-logger-node consumes the message queue as follows:

[code]

The problem is that, while the socket might be closed (asynchronously)
after the first write, `_doFlushSendQueue` and `_doWrite` naively assume
that the socket is *a

[2018-01-16 06:11] okkez commented on #83
@mcuelenaere Could you try the PR #90?

[2018-02-01 10:53] nikhilkakade2108 commented on #89
I am facing the same issue. calling setTimeout() works for me. But execution time plays major role in costing of lambda functions, in my case we cannot afford to freeze lambda function just for logging purpose.
Is there any way available to end fluentdsender without using setTimeout().

Also, how it works properly in case of winston support transport?

[2018-02-01 11:01] nikhilkakade2108 opened #91 "Fluentd sender doesn't send logs in case of end() call."
I am creating fluentd sender by using createFluentSender() function.
Below is my code.

[code]

It is not logging anything in backend. If I remove fluentdSender.end() it works properly.
Removing fluentdSender.end() hangs the process and in case of lambda, function timeout occurs.
Using setTimeout() cannot be the solution in my case, since we have multiple lambdas, which eventually increase cost fo

[2018-02-02 00:23] okkez commented on #89
@nikhilkakade2108 See [winston section](https://github.com/fluent/fluent-logger-node#winston) in README.md.

[2018-02-02 00:28] okkez commented on #91
`fluentSender.end()` will close socket immediately.
If you want to wait processing the last message, you can use `requireAckResponse` option and `fluentSender.end("label", {"message": "some message"})`.

[2018-02-02 00:42] okkez commented on #91
@nikhilkakade2108 Please read [winston section](https://github.com/fluent/fluent-logger-node#winston) in README.md.

[2018-02-02 06:30] nikhilkakade2108 commented on #91
I added  requireAckResponse: true in config, but it is not working for me. The problem here is, I cannot use support.winstonTransport() due to some limitations (I need to add lambdaname by default in every log statement). Is there any other way to end the fluentdSender with all logs flushed at back-end and without using setTimeout()?

The question I have is, what is difference between using suppor

[2018-02-02 08:56] okkez commented on #91
Hmm, your code in first comment is not same as sample code in README.md.
It seems that you don't use winston transport for fluent-logger in your code above.

Which do you want to use fluent-logger's winston support or raw FluentSender?

Could you show me minimal reproducible code?
I could not imagine your situation enough.

[2018-02-02 09:57] nikhilkakade2108 commented on #91
yes I am using raw FluentSender. Please refer this code.
[code]

I cannot see any logs at Fluentd end with above code.
If I add setTimeout(()=>{fluentdSender.end()},1000) ; it works.

[2018-02-05 00:36] okkez commented on #91
`fluendSender.end()` has same interface with `fluentSender.emit()`.
`fluentSender.end()` with no arguments will shutdown `fluentSender` instance immediately.

We can wait ack response from server using following snippet:

[code]

[2018-02-05 06:21] nikhilkakade2108 commented on #91
writting `fluentSender.end("label", {"message": "Good bye!"});` worked for me.
Thanks okkez. Closing the issue.

[2018-02-05 06:21] #91 closed

[2018-02-27 07:14] okkez commented on #83
Merged #90 and released v2.6.2 .

[2018-02-27 07:14] #83 closed

[2018-02-27 07:17] okkez commented on #89
#91 is relevant to this issue.

[2018-02-27 07:17] #89 closed

[2018-05-04 06:30] #49 closed

[2018-05-04 15:02] st3xupery opened #93 "Queue Message until Reconnection Complete"
I am using fluent-logger-node in a docker swarm environment which is to say the cluster of services operates within their own private network and I have one node service communicating to fluentd container within this internal network.

The problem I face in all socket situations (e.g. database connections) is that sockets seem to close after a period of time that only becomes evident to the servic

[2018-05-09 09:09] okkez commented on #93
I'm not familiar with the docker swarm environment.

It depends on the situation.
For example, callback argument will include error messages when ECONNREFUSED occurs.

Do you need the option that periodically reconnection or something?

The queue of fluent-logger-node does not improve robustness, it is for supporting [Fluentd forward protocol v1](https://github.com/fluent/fluentd/wiki/Forward-Prot

[2018-06-14 23:49] haosu opened #94 "`_status` not reset after FluentLoggerError.MissingTag"
On FluentLoggerError.MissingTag errors the reconnect handler (https://github.com/fluent/fluent-logger-node/blob/master/lib/sender.js#L453) does not set `_status` back to `established`, and does not re-emit the `connect` event.

Background: I've implemented a bounded event queue that queues if the fluent-logger is not connected, and attempts to flush when the logger reconnects. In cases of event da

[2018-06-25 19:06] bradwilson opened #96 "Add support for Unix-domain sockets"
I am using an environment where our fluentd server is exposed via Unix-domain socket rather than a TCP socket. I looked at issue #30 which was closed after a work-around was given. I'd like for this support to be first class rather than forking and patching myself.

Is there interest in this? I can submit a PR if so. FWIW, the suggested fix in #30 isn't right for general usage, because it changes

[2018-06-26 00:19] okkez commented on #96
I've added `path` option in https://github.com/fluent/fluent-logger-node/commit/ae093f4a2a084104d219bb4f87bf52c8fa47a460 instead of changing the default value of `port` option.
Have you checked it?
See also https://github.com/fluent/fluent-logger-node#options

Could you create PR to improve Unix domain socket support?

[2018-07-03 15:54] MerkAndreas opened #97 "Define log levels"
Is it possible to define log levels like in winston, to log only the specified levels?
And if yes, how could it be implemented?

Thanx and regards,
Andreas

[2018-07-04 01:53] okkez commented on #97
Use log4js-fluent-appender or winston transport to filter logs by log level.
fluent-logger-node cannot filter logs by log level.

[2018-07-04 06:20] MerkAndreas commented on #97
Too Bad...
Thanx for your fast response!

[2018-07-13 23:37] theogravity opened #98 "in non-message mode, queue size seems to grow indefinitely"
I'm looking at the memory profile using this module, and I noticed that `this._sendQueueSize` never gets reset to 0 after send operations.

https://github.com/fluent/fluent-logger-node/blob/a2fcc64e0fef21a2d2fc286fa82964aa4bccf644/lib/sender.js#L42

Is this intentional? Shouldn't it decrement or reset to 0 during certain conditions?

[2018-07-17 06:45] okkez commented on #98
Thank you for reporting.
It is an unexpected behavior. We must reset to 0 after flush `sendQueue`.

[2018-07-19 02:09] #98 closed

[2018-07-19 02:42] okkez commented on #98
Released v2.8.0

[2018-07-19 22:33] jessebond2 opened #101 "Module not found: Error: Can't resolve 'winston-transport'"
I'm getting this error when I try to setup the logger. Current on version 2.8.0

[code]

[2018-07-20 00:35] okkez commented on #101
Do you use fluent-logger's winston support?
It is optional, so we don't set the dependency for winston.

Maybe, you need to add the dependency for `winston@3.0.0` in your package.json.

[2018-07-20 00:41] jessebond2 commented on #101
Nope! Never even heard of that package before. Downgrading to 2.7.0 removed this issue.

[2018-07-20 00:43] okkez commented on #101
Can you show me the reproducible code and package.json?

[2018-07-23 07:33] #97 closed

[2018-07-23 14:42] fogine commented on #101
Confirming that the version `2.8.0` is broken - aka. not backward compatible.
https://github.com/winstonjs/winston-syslog/issues/95

thus, when you are requiring `winston-transport` [HERE](https://github.com/fluent/fluent-logger-node/blob/master/lib/winston.js#L8) you effectively break all code which runs with winston  `v2.x) if i'm not mistaken.

To fix this issue, I suggest reverting the `2.8` r

[2018-07-24 01:15] okkez commented on #101
Users must set dependencies to `winston@2` or `winston@3` in their own package.json because fluent-logger's winston support is optional.

[2018-07-24 08:14] fogine commented on #101
@okkez , that's not the issue.
Users have already installed `winston@2` / `winston@3` explicitly in their project. The problem is that `fluent-logger` prior version `2.8.0` worked with `winston@2`, however since version `2.8.0` of `fluent-logger` which [explicitly requires `winston-transport`](https://github.com/fluent/fluent-logger-node/blob/master/lib/winston.js#L8), it breaks the compatibility

[2018-07-24 08:16] fogine commented on #101
This is an example of public project which fails to build since the `fluent-logger@2.8.0` release:  https://travis-ci.org/BohemiaInteractive/bi-logger/builds/395486808

[2018-07-24 08:34] fogine commented on #101
@okkez , Okay, to fix projects which have in their package.json for example:

[code]

could we `npm unpublish fluent-logger@2.8.0` ?
Otherwise, npm will automatically update to `fluent-logger@2.8.0` which is not backward compatible...

[2018-07-24 08:39] okkez commented on #101
@fogine If you want `fluent-logger@2.8.1` you can create the PR to 2.8 branch.
Could you create the PR for `fluent-logger@2.8.1`?
I will merge it and publish `fluent-logger@2.8.1`.

[2018-07-25 23:48] theogravity opened #105 "Not clear from reading the code - on reconnect does the message queue re-send?"
I'm using

` sender.toStream('blah')`

To build the stream to send data. If `fluentd` is stopped, then restarted (eg a reconnect situation):

- I cannot seem to send to the existing stream (that would make sense - the connection is now closed)
- I have to use `sender.toStream('blah')` to create a new stream; sending then works again
- But, queued events are completely gone (maybe because of the ne

[2018-07-26 02:23] zephinzer opened #106 "Winston transport function signature in documentation is wrong"
Hi, the documentation at https://github.com/fluent/fluent-logger-node/blob/master/README.md#winston is outdated, regarding this line in the example:

[code]

The tag should actually be in the `config` object as a `.tag` property as per this line: https://github.com/fluent/fluent-logger-node/blob/ed1fa3b7eac03509b90ec6a99ac8544dc10e4288/lib/winston.js#L17

When using it as in the documentation, the

[2018-07-27 00:12] okkez commented on #106
@zephinzer Could you create the PR for this issue?

[2018-07-27 04:49] okkez commented on #105
@theogravity Could you try #107 ?

[2018-07-27 07:12] zephinzer commented on #106
which way would you prefer to do it? should we use the `createFluentSender` signature for the Winston transport generator or just update the documentation to reflect the change?

personally i'm for unifying the function signatures, it'll make the library more intuitive to use, but would that introduce any other complexity you know of?

[2018-07-30 16:10] zephinzer commented on #106
@okkez done!

[2018-08-23 02:02] navono opened #109 "TypeScript support？"

[2018-08-23 02:38] okkez commented on #109
Could you create the PR to support TypeScript?

[2018-08-23 03:14] navono commented on #109
I give it a try.

[2018-08-23 05:37] okkez commented on #109
Thank you!!
I'm looking forward to see your PR.

[2018-08-23 08:12] navono commented on #109
@okkez  I've already push a PR, please check it if you can.

[2018-08-23 08:17] navono commented on #109
I wonder it's any possible to support browsers? because `winston@3.x.x` already dose.

[2018-08-23 08:30] okkez commented on #109
I think this fluent-logger does not support browsers.
Because this uses raw TCP socket directly. (Modern browsers have not supported TCP Socket yet)

[2018-09-10 05:35] #109 closed

[2018-09-10 05:54] okkez commented on #106
Thanks!

[2018-09-10 05:54] #106 closed

[2018-09-10 05:54] #101 closed

[2018-09-10 05:54] okkez commented on #101
Released v2.8.1

[2018-09-28 09:11] kalinkrustev opened #113 "_sendQueue should have limit"
If connection cannot be established for long time, logged messages can overflow the memory. Ideally older messages should be discarded, before adding new.

[2018-10-01 07:31] okkez commented on #113
Could you create the PR for this issue?

[2018-10-25 13:48] NetForces opened #115 "Logging for all transport stop if fluent server is not available"
In the case where the fluent server becomes unavailable the logging for all transports stop logging and not only the fluent one.

I was able to reproduce this with a slightly modified version of the `winston` example:

[code]

Running this without any fluent listening on port 24224 will cause even the console log to stop after 16 loop.

If a fluent server is listening (or emulated with ` nc -lv 24

[2018-10-25 16:00] NetForces commented on #115
Ok, been troubleshooting a bit and here is as far as I can go...

With the following 'patch':

[code]

- The logger continues to log to console if fluent is not available
- The logger logs to console and fluent if it's available from the start and continues to log to console if it goes away
- If fluent comes back it dumps a big fat ugly error but is reconnects to fluent and resume logging to both

[2018-10-26 08:44] okkez commented on #115
Could you try #116 and https://github.com/nodejs/node/pull/23895 ?

[2018-10-26 14:53] NetForces commented on #115
@okkez Sorry had not seen the error handler in your test code. With it I do get the exception:

[code]

And on continue on logging to the console.

I was able to switch on and off the fluent server multiple times and it would not make the console logging stop. So it looks good to me.

[2018-10-26 15:04] NetForces commented on #115
@okkez regarding the required fix in node... Anyway we could deal with it within the fluent-logger-node library ? The node release cycle is much longer than yours and we can't really wait on them approving the fix and having it make it's way to the next release.

Thanks for the quick answer and help.

[2018-10-30 05:52] okkez commented on #115
It is difficult to handle it in the fluent-logger-node library.

[2018-11-03 03:01] fatfatson opened #117 "index.d.ts error for winstonTransport"
[code]

the constructor should take a tag param with string type at the first.

[2018-11-05 00:32] okkez commented on #117
Could you create a PR for this issue?

[2018-11-13 07:41] okkez commented on #117
#118 is merged.

[2018-11-13 07:41] #117 closed

[2018-12-05 20:14] jd-carroll opened #124 "Please Create Changelog"
Could you please create a changelog?  It is difficult to identify what changed in the this library for every release.  Specifically, it is difficult to identify the breaking changes from 2.x -> 3.x

[2018-12-06 01:06] okkez commented on #124
Breaking changes are following:
* Drop Node.js 4 support
* Add winston 3.x support, drop winston 2.x support

[2018-12-06 01:42] okkez commented on #96
Unix domain socket has been already supported. Closing.

[2018-12-06 01:42] #96 closed

[2018-12-10 03:55] #124 closed

[2019-01-08 21:32] JvalantPatel-MS opened #128 "Username Password based authentication doesn't work"
Description:
    After checking the **HELO** message, if user based authentication
    is enabled at server side fluentd process then it passes the
    buffer in the response as 'auth' property.

    Currently, while generating **PING** message, the client is not passing
    the username value correctly (it is being passed as null always)
    and due to that server is refusing the connection with

[2019-01-10 01:41] #128 closed

[2019-01-25 13:17] mitsos1os opened #132 "JS Date values sent as empty objects"
Hi guys,

We have noticed that when trying to send a JSON object that contains a field of **Date** instance from the regular **Date** type in Javascript, it is serialized as an empty object. I would expect that the proper behavior should be to convert to ISO Date string.

This is happening due to the fact that fluent-logger is using **msgpack-lite** to encode the objects to be sent. However when a

[2019-01-31 13:25] sphansekar-cci opened #134 "Error event not thrown when integrated with winston"
I don't have fluentd running on port 3588 and I was expecting library to throw an error
Tried without winston transport and it gave error ECONNREFUSED.

Below is the code which I had tried.

[code]

[2019-02-04 02:32] okkez commented on #132
Please show me the code to reproduce your situation.

[2019-02-04 03:55] okkez commented on #134
Please try following:

[code]

[2019-02-04 04:17] sphansekar-cci commented on #134
It worked. Thanks for your help. I am closing the issue.

[2019-02-04 04:17] #134 closed

[2019-02-04 12:34] mitsos1os commented on #132
it is as simple as just sending a date instance object to be logged.

ex:
[code]

[2019-02-04 23:53] okkez commented on #132
Thanks, I will check this later.

[2019-02-06 00:57] okkez commented on #132
Hmm, msgpack-lite can convert JavaScript Date object to messagepack binaries.
But it uses [extension types](https://github.com/kawanet/msgpack-lite#extension-types).

Fluentd (in_forward plugin) cannot receive those messagepack binaries that use extension types defined by msgpack-lite.

[2019-02-06 09:33] mitsos1os commented on #132
So it is due to the inability of the actual FluentD daemon to understand the extension types that are not properly handled? Because the actual date packer just uses Number formatting of the dates if I am not mistaken

[2019-02-07 00:55] okkez commented on #132
Yes, Fluentd cannot handle extension types defined by msgpack-lite.
Therefore we cannot use the default codec of msgpack-lite to send events which include JavaScript Date object to Fluentd.

1. add a new custom codec to treat JavaScript Date as a string or integer (I prefer string type)
1. add the new option to configure user own custom codec
1. add both previous 2 functionalities

Which do you li

[2019-02-07 08:01] mitsos1os commented on #132
Hmmmm, I understand.
I believe that since `Date` could be commonly logged in javascript since it is a native type, it should be logged as ISOString as  a generic form at least.

This should probably be supported by default but having also available a way to provide some custom packers to the final encoder would be useful for extra customization of the logging serialization format

[2019-02-13 06:42] sphansekar-cci opened #135 "Reconnecting and flushing of queue message not working with winston"
I am not able to reconnect and flush the queue messages. I think we need to call _setupErrorHandler on constructor call in winston.js and _flushSendQueue on connect of socket in _setupErrorHandler .

I will create a pull request for the same and can verify it.

[2019-02-14 00:47] okkez commented on #135
Thank you for reporting and create the PR. I will check the PR later.

[2019-02-15 01:25] #135 closed

[2019-02-15 02:38] okkez commented on #105
No response.

[2019-02-15 02:38] #105 closed

[2019-02-15 03:11] okkez commented on #132
I could not find a way to convert Date object to ISOString while invoking `msgpack.encode`.
Because msgpack-lite does not have such an API.

msgpack-lite has an API to customize codec, but it will generate MessagePack binary using extension types. We cannot define a customized codec(to convert Date to ISOString) to generate MessagePack binary without extension types.

If you have good ideas to def

[2019-02-15 13:01] mitsos1os commented on #132
I think just adding the extra packer as you did above is a good choice. I don't think the performance overhead is that limiting.
Also if we convert it manually, in case of composite data objects, we will have to browse the object in all depths to process all JS Date objects. Also since Date is a Native JS data type, I believe we will find this quite regularly

Currently, the existing solution simp

[2019-03-06 13:44] KrysKruk opened #139 "Timeout doesn't close socket connection"
Hi guys!

I was struggling some time on automatically closing the `fluent` socket when idling.
The case was that I wanted to emit some logs and then let the process to exit which never happened, because the internal `fluent` socket was still open.
I could just call the `end()` function, but that was not an option for me.

After studying [Node.js socket documentation](https://nodejs.org/api/net.htm

[2019-03-11 03:32] okkez commented on #139
Could you show me your code?

The behavior that I expected:

[code]

[2019-03-19 17:02] kevinburkenotion opened #140 "there is also a NPM library named "fluent-logger-node""
"npm info fluent-logger-node" does not turn up this library, which seems bad, given that's the name of the repository.

[code]

[2019-03-20 11:23] sphansekar-cci commented on #115
I am facing a similar issue. I am having two transport in winston ie. file and fluent-logger. Initially few logs are getting saved to my file(via transport), but later when I stop td-agent then logs are not getting saved in a file too. Once I restart td-agent logs are flushed to td-agent and written to file too. I am not able to understand why it's blocking other transport.

[2019-03-26 00:43] okkez commented on #140
https://www.npmjs.com/package/fluent-logger-node is not our project and unmaintained since 7 years ago.
What is the problem?
What should we do?

[2019-03-26 00:51] kevinburkenotion commented on #140
The problem is people will look at the repository name here and run "npm install fluent-logger-node" and try to install a 7 year old package.

Maybe contact NPM support or the author of the other package, or otherwise make it clear that the package name does not match the repository name.

[2019-03-26 01:14] okkez commented on #140
I see. I will contact the 7 years old package author.

But APIs are different between this library and 7 years old package.
Users who run `npm install fluent-logger-node` without reading install section of this library can be aware of it when they run their own application.

[2019-03-28 16:29] emanueleliardo opened #141 "winston transport doesn't close socket"
I've tried this code, but socket does not close

[code]

my deps
`
"dependencies": {
    "fluent-logger": "^3.3.1",
    "winston": "^3.2.1"
  }
`

what am i doing wrong?

[2019-03-29 03:22] okkez commented on #141
Please try the followings:
But this is a workaround.

[code]

[2019-03-29 09:16] emanueleliardo commented on #141
Great! it works! Can you update documentation please?
Thank you very much

[2019-03-29 09:16] #141 closed

[2019-04-05 12:05] Kageetai opened #143 "TS: Winston dependency even if not using Winston transport"
I am using typescript for my project but don't use any winston transport whatsoever, but I am still required to install `winston` in my own projects dependencies, because otherwise build fails because of this line: https://github.com/fluent/fluent-logger-node/blob/master/lib/index.d.ts#L8

[2019-04-08 01:00] okkez commented on #143
Hmm, winston-transport is an optional library in this fluent-logger-node.
I'm not familiar with TypeScript definitions (index.d.ts).

Can I remove type definitions related to winston-transport?

[2019-04-08 07:51] Kageetai commented on #143
I am also not too familiar with the type definitions files, but is it auto-generated? If not just remove it probably.
Or add `winston-transport` to the dependencies`, so it will also be installed, when installing `fluent-logger-node`. But I think removing any notion to winston is better.

[2019-06-20 01:15] hugeleaf opened #148 "big integer value becomes to float value"
when emit data include a big interger(greater than 2147483647) value, big interger value becomes to float value after data sent.

`logger.emit('debug', {test: 21234567890});`

fluentd revice {"test": 21234567890.0}

[2019-08-14 10:50] nbvehbq opened #149 "Logger write to socket after it died"
Look at my log:
[code]

I think this is because `_doFlushSendQueue ()` is called as a callback in `setTimeout` but we check` this._socket` early but should in the callback or in the `_doWrite`
[code]

[2019-09-05 16:16] yujinkay opened #150 "A small team looking to iterate on fluent logger node lib"
Hi,

A small team of developers and I are looking to iterate on the fluent logger node library for the next four weeks in order to improve developer experience.

As a community, are there any areas/tools you wish you had to improve your experience while using fluent logger node? Any feedback or input would be greatly appreciated.

Thank you!

[2019-09-05 21:36] okkez commented on #149
Could you create a new PR to resolve your issue?

[2019-09-05 21:37] okkez commented on #148
Possibly, it is the limitation of JavaScript.

[2019-09-16 22:23] #143 closed

[2019-09-16 22:24] #149 closed

[2019-09-26 20:30] VladaPetrovic commented on #143
Great for merging this fix into master. When can we expect new npm release ?

[2019-10-25 17:06] mitsos1os opened #153 "[BUG] Logging multiple tags in PackedForward corrupts packets!"
When trying to send messages in **PackedForward** using **different tags** with the logger, simulatenously so that they are queued under the same `sendQueue` struct, they are **corrupted when sent**.

This is due to some wrong size notations during aggregate buffer construction.

**This is a major, bug since it hit our application in production and we were trying to find out what was happenning!**

[2019-10-25 17:28] mitsos1os opened #154 "[BUG] Emit callbacks are re-called when error with ack from Fluent"
When the sender is configured to accept an acknowledgement from server for each message, in case of an error, the given callbacks for each message are called twice.

One with the error signaling the failure, and one in the regular flow

[2019-11-11 13:36] bivas6 opened #156 "error TS2307: Cannot find module 'winston-transport'."
I'm try to use version: 3.3.1.
I have nothing with winston in my app, just want to create fluent-logger instance. I saw that this Issue has been reported  https://github.com/fluent/fluent-logger-node/issues/101 but I think it's might be back.
Thanks

[2019-11-19 10:36] damianprzygodzki commented on #97
It's bother as hell. You support winston transport but not in exactly right way and tell us to do it on our own.

[2019-11-20 08:48] okkez commented on #148
no response.

[2019-11-20 08:48] #148 closed

[2019-11-20 08:53] #153 closed

[2019-11-20 08:53] #154 closed

[2019-11-20 08:58] #113 closed

[2019-11-20 09:02] okkez commented on #156
Could you show me reproducible code and procedure?

[2019-11-20 09:04] okkez commented on #150
@yujinkay Could you help opened issues?

[2019-11-20 14:28] damianprzygodzki opened #157 "Sender has no support in TypeScript"
I tried to close socket properly https://github.com/fluent/fluent-logger-node/issues/141 and with typescript is not possible. FluentTransport does not see sender property, despite it is there.

[2019-11-20 14:35] damianprzygodzki commented on #141
It is unable to do with TypeScript. There is lack of sender in FluentTransport type.

[2019-11-20 15:02] damianprzygodzki opened #159 "EnableReconnect not available in winston transport"
There is no such option, or types are outdated

[2019-11-20 15:18] damianprzygodzki opened #160 "App doesn't close when connection failed."
Setting enableReconnect to false didn't help.

[2019-11-20 17:14] marmos91 opened #161 "WinstonTransport types don't work anymore after latest release"
After upgrading `fluent-logger` to version 3.4.0, the following types do not work anymore. Any suggestion on how to fix that?

Code:
[code]

Error:
[code]

[2019-11-21 00:20] okkez commented on #157
Please send new PR for the issue.

[2019-11-21 09:51] bivas6 commented on #156
package.json:
{
...
     "dotenv": "^8.2.0",
    "fluent-logger": "^3.3.0",
    "fs": "0.0.2",
...
}

package-lock.json:

{
...
    "fluent-logger": {
      "version": "3.3.0",
      "resolved": "https://registry.npmjs.org/fluent-logger/-/fluent-logger-3.3.0.tgz",
      "integrity": "sha512-Ea5hbBcHcmPy3TdXKcVqwMFENxrAVP437jeSlXa3QsJ2AiMw+fj9QSVrQu0EFwVw7Jemg58mF5h5gt1gPSVWQw==",
      "requires":

[2019-11-21 10:08] bivas6 commented on #156
This problem has solved in @3.4.0 Thanks!

[2019-11-21 10:08] #156 closed

[2019-11-21 15:46] orgads commented on #161
Probably related: #156 and 186fc07e334df74164df2c05793d338828432271

[2019-12-14 00:33] #161 closed

[2019-12-14 00:34] okkez commented on #157
Fixed by #163

[2019-12-14 00:34] #157 closed

[2019-12-14 00:46] okkez commented on #160
Could you show me reproducible code?

[2020-02-01 08:59] costa opened #165 "Trouble with millisecond (or any sub-second) resolution (outdated protocol implementation?)"
First, thanks for maintaining this module.

Then, it appears to have trouble with getting sub-second resolution right, and it may be because the last update of the related code (#47, 2016) doesn't seem to conform to the current fluentd spec (https://github.com/fluent/fluentd/wiki/Forward-Protocol-Specification-v1, 2017).

I've checked this with a new project having the most recent versions of ever

[2020-02-24 12:10] Shantanu35 opened #166 "Buffering the logs being send to fluentd when fluentd is not available"
Hey,
We are using your library to send logs from our lambda functions to fluentd via Bunyan Logger.

[code]
1. Using the above mentioned approach, the logs are successfully being sent to fluentd from lambda.
2. However, in the case fluentd is _not available_ (not listening at the specified host and port) , then the expected behavior is to send these logs to the **stdout** for displaying.

For poin

[2020-02-24 12:25] Shantanu35 opened #167 "Error events take too much time to emit when fluentd is not available"
Hey,
We are using your library to send logs from our lambda functions to fluentd via Bunyan Logger.

[code]
1. Using the above mentioned approach, the logs are successfully being sent to fluentd from lambda.
2. However, when fluentd is not available, then the expected behavior is to catch the error event during the creation of bunyan instance and send the logs to stdout.

However, we have noticed

[2020-03-13 19:00] hlhl040 opened #168 "Failed to call _flushSendQueue() during frequent log emit"
Hi,
We're using fluent-logger-node v3.4.1 to send logs from Lambda functions. During our test, we emit 300KB logs every 100ms for 60 seconds, so around 180MB logs  in total. During the test, the first emit() started a socket connection(see code below)
`if (this.tls) {
        this._socket = tls.connect(Object.assign({}, this.tlsOptions, { host: this.host, port: this.port }), () => {
          post

[2020-04-24 21:05] gcoombe opened #169 "Sending via udp"
Could we add a flag to send via UDP? https://docs.fluentd.org/v/0.12/input/udp Happy to put together a PR, but wanted to check if this would be acceptable first. Thanks!

[2020-05-30 05:05] okkez commented on #169
This logger sends logs to fluentd, and fluentd receives them by in_forward plugin.

[2020-05-30 05:05] #169 closed, assigned to nobody

[2020-05-30 05:09] okkez commented on #168
Could you show me reproducible code and steps without Lambda?

[2020-05-30 05:21] okkez commented on #167
Why you set `timeout: 3.0` ?

This library will reconnect to fluentd if fluentd is not available.
If you want to shutdown your Lambda function when Fluentd is down, you can throw an error to re-run your Lambda.

Please check the documentation for AWS Lambda about error handling and retry.

[2020-06-06 23:28] happy-machine opened #170 "Cannot find module 'fluent-logger'"
I've followed the examples for setup with and without Winston support (im using Winston). Seems to be a typescript issue? I've tried ts-ignoring the import and creating a ts definition file typing logger as any.

But i get this error when i compile.

Thanks

[2020-06-06 23:57] #170 closed, assigned to nobody

[2020-06-07 00:17] happy-machine opened #171 "Cannot read property 'end' of undefined"
I'm getting this error when calling logger.end() on both the examples of setup with winston.
Does this mean theres a problem connecting to fluentd (in the .sender object it is null for me)?

[2020-06-11 08:28] happy-machine opened #172 "fluentd winston color formatting doesnt work at transport level"
Hey folks

I apologise in advance ive read previous issues and stack overflow about this and cant seem to find a resolution. Ive even tried resorting to injecting a fluend plugin to remove color formatting before logs are sent to elasticsearch, this is clearly not best practice, it shouldnt be necessary to send something and then remove it i think.

If i remove the loggers format property the tran

[2020-06-11 08:38] happy-machine commented on #172
Just for clarity, this is what i think i should be writing here!

[code]

[2020-06-22 07:56] Shantanu35 commented on #167
``timeout: 3.0`` is the default timeout and as far as I know, it just indicates the amount of time after which socket will timeout.
I have set ``enableReconnect: false``, so that it does not try reconnecting.

The aim is that, if fluentd is not available, then the 'error' event emitted takes a significant amount of time, which causes the lambda to wait for it.
Is there any efficient or faster way

[2020-06-22 08:16] Shantanu35 opened #173 "Lambda timeout occurs when using the sender.end() function with setTimeout"
Hi,
We are using the library for sending logs to Fluentd via Bunyan Logger.
[code]
1. The logs are being sent to fluentd using the above mentioned approach.
2. The `end()` function is called at the end of lambda execution to close the socket connections.
3. However, the `end()` function when deployed through a lambda, causes it to timeout due to every callback not being processed in the said invoc

[2020-10-09 16:39] dikaso commented on #171
Same here.

[2020-10-13 08:47] dikaso commented on #141
This does not work anymore. I get next error:

[code]

[2021-08-05 17:15] agup006 opened #177 "[PROPOSAL] Deprecate in favor of new Fluent Node Logger"
Hi all,

@jamiees2 has created a new library (https://github.com/fluent/fluentd-node) that has many more capabilities including bulk uploading. I would like to propose adding a notice to this repository to guide users to that new library that is actively maintained and used in production.

@okkez I know you have been a maintainer of the library and wanted to check if you have any thoughts on the m

[2021-08-12 06:09] okkez commented on #177
Sounds nice.

[2022-08-26 17:08] HoangTheQuyen96 opened #178 "MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 unpipe listeners added to [FluentTransport]. Use emitter.setMaxListeners() to increase limit"
I using fluent. But it warns when starting the app: (node:1) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 unpipe listeners added to [FluentTransport]. Use emitter.setMaxListeners() to increase limit

My warning:
<img width="1771" alt="Screen Shot 2022-08-27 at 00 05 15" src="https://user-images.githubusercontent.com/43110409/186956761-9b3f048e-1aa9-4d73-ab39-8e460ebf